doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.2.1/base-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.2.1/grids-min.css")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20500052-2']);
      _gaq.push(['_addDevId', 'i9k95']); // Google Analyticator App ID with Google 
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body.yui3-normalized
    block content
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js', type='text/javascript')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js', type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app.js')
    script
      window.fbAsyncInit = function() {
        FB.init({
          appId: '388642151258510'
          , channelUrl: '//zlayer.net:3002/Channel.html'
          , status: true
          , cookie: true
          , xfbml: true
        });
        FB.getLoginStatus(function (res) {
          console.log('fb login status');
          console.log(res);
        });
        FB.Event.subscribe('auth.responseChange', function(response) {
          if(response.status == 'connected') {
            testApi();
          } else if (response.status == 'not_authorized') {
            FB.login();
          } else {
            FB.login();
          }
        });
      };
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
      function testApi() {
        console.log('Welcome! Fetching info...');
        FB.api('/me', function(response) {
          console.log(response);
        });
      }

  
